@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 253, 253);
}

.navTop {
  background-color: #B9EBB1;
  height: 4rem;
  position: absolute;
  width: 100%;
  margin-top: -138px;
}

.navTop center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 10px;
  font-size: 30px;
}

.tata {
  width: 30rem;
  margin-top: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(196, 253, 246);
}

.temp {
  font-family: 'Potta One', cursive;
  font-size: 100px;
  color: rgb(155, 212, 223);
  text-align: center;
}